.landing-background {
  /* background: url('../assets/background.jpg') no-repeat center center; */
  background-size: cover;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
}

.video-button img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.video-button:hover img {
  transform: scale(1.05);
}

.landing-title {
  margin-top: 20px;
  font-size: 3rem;
  text-align: center;
}

.get-started-button {
  margin-top: 20px;
  font-size: 1.5rem;
  background-color: #ff4500;
  padding: 10px 20px;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.get-started-button:hover {
  background-color: #e43c00;
}

.landing-heading {
  font-size: 2.5rem;
}

.landing-text {
  text-align: justify;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .landing-title {
    font-size: 2rem;
  }

  .get-started-button {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
  }

  .landing-heading {
    font-size: 2rem;
  }

  .landing-text {
    font-size: 0.875rem;
  }
}

@media (max-width: 576px) {
  .landing-title {
    font-size: 1.5rem;
  }

  .get-started-button {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .landing-heading {
    font-size: 1.5rem;
  }

  .landing-text {
    font-size: 0.75rem;
  }
}
