footer {
    position: relative;
    width: 100%;
    padding: 3rem 1rem;
    background-color: rgb(86, 74, 199);
    color: #aebeb3;
  }
  
  .contact-section {
    margin-top: 50px;
  }
  
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
  
  .company-title {
    font-size: 2rem;
    margin: 20px 0;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .company-title i {
    font-size: 1.5rem;
    margin: 0 10px;
  }
  
  .logo {
    width: 200px;
    max-width: 900px;
    height: auto;
    margin-top: 20px;
    margin-left:100px;
  }
  
  .social {
    margin-top: 2rem;
  }
  
  .social a i {
    color: rgb(207, 175, 185);
    margin-right: 5px;
    transition: 0.3s ease;
  }
  
  .social a i:hover {
    transform: scale(1.5);
    filter: grayscale(25%);
  }
  
  .services-text {
    text-align: justify;
    font-size: 1rem;
  }
  
  .links a {
    display: block;
    text-decoration: none;
    color: #d6c7c7;
    margin-bottom: 5px;
    position: relative;
    transition: 0.3s ease;
  }
  
  .links a::before {
    content: '';
    height: 16px;
    position: absolute;
    top: 5px;
    left: -10px;
    background-color: rgb(196, 164, 173);
    transition: 0.5s ease;
    opacity: 0;
  }
  
  .links a:hover::before {
    opacity: 1;
  }
  
  .links a:hover {
    transform: translateX(-8px);
    color: #ff014fff;
  }
  
  .text-center {
    text-align: center;
    margin-top: 20px;
  }
  
  .py-3 {
    padding: 1rem 0;
  }
  
  @media (max-width: 900px) {
    .row {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    
    .col {
      margin-bottom: 20px;
    }
  
    .company-title {
      font-size: 1.5rem;
    }
  }
  
  @media (max-width: 768px) {
    .company-title {
      font-size: 1.25rem;
    }
  
    .services-text {
      font-size: 0.875rem;
    }
  
    .links a {
      font-size: 0.875rem;
    }
  }
  
  @media (max-width: 576px) {
    .company-title {
      font-size: 1rem;
    }
  
    .services-text {
      font-size: 0.75rem;
    }
  
    .links a {
      font-size: 0.75rem;
    }
  }
  